.root
{
    height: 100vh;

    & .root-background
    {
        position: absolute;
        width:    100%;
        height:   100vh;

        &.black
        {
            background-color: black;
        }

        & > div
        {
            position:      absolute;
            width:         calc(100vmin / 6 * 4);
            height:        calc(100vmin / 6 * 4);
            border-radius: 50%;
            border:        10px solid lightgray;
            @mixin wst-center;

            & > div
            {
                position:      absolute;
                color:         lightgray;
                font-size:     5vmin;
                font-weight:   bold;
                white-space:   nowrap;
                @mixin wst-center;
            }
        }
    }

    & .root-click-guard
    {
        position: absolute;
        width:    100%;
        height:   100vh;
        z-index:  99999;
    }
}
