.view-container
{
    position:         absolute;
/*  display:          flex;*/
    flex-direction:   column;
    width:            100%;
    height:           100vh;
    outline:          none;
    background-color: white;
}
