@font-face
{
  font-family: 'sulas';
  src: url("../07やさしさゴシック.ttf");
}

body, input, button
{
  font-family: sulas, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

input
{
    display: block;
    width: 100%;
    margin: 16px 0 16px 0;
    font-size: 15px;
    border: 0;
    border-bottom: 1px solid #ccc;
    transition: all .3s;
    outline: none;
}

input:focus
{
    border-bottom: 1px solid blue;
}

button
{
    display: block;
    width: 100%;
    height: 48px;
    color: white;
    background-color: rgb(49, 182, 162);
    font-size: 15px;
    font-weight: bold;
    margin: 8px 0 8px 0;
    padding: 0;
    border:  0;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    transition: all .3s;
}

button:hover
{
    background-color: rgb(59, 192, 172);
}

button:active
{
    background-color: rgb(81, 214, 194);
}

button[disabled],
button[disabled]:hover,
button[disabled]:active
{
    color: lightgray;
    background-color: rgb(49, 182, 162);
}

.wst-center
{
    position: absolute;
    left: 50%;
    top:  50%;
    transform: translateX(-50%) translateY(-50%);
}
